{
    "openapi": "3.0.3",
    "info": {
        "title": "Xboard API 中文接口文档",
        "version": "1.0.0-source-scan",
        "description": "Xboard API 中文接口文档，覆盖账号认证、订阅套餐、订单支付、优惠券、礼品卡、公告、知识库、工单、流量统计、节点通信及后台管理接口。请求参数依据 FormRequest、控制器校验规则和中间件静态分析生成；响应结构依据控制器返回值与 Resource 类生成。插件、主题、支付方式和运行时配置可能扩展部分字段。",
        "license": {
            "name": "MIT"
        }
    },
    "servers": [
        {
            "url": "https://panel.verlix.biz/",
            "description": "测试环境"
        }
    ],
    "paths": {
        "/api/v1/client/app/getConfig": {
            "get": {
                "tags": [
                    "客户端配置"
                ],
                "summary": "获取客户端配置",
                "description": "用途：获取客户端配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Client_App_getConfig_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getConfig",
                "x-source": {
                    "file": "app/Http/Routes/V1/ClientRoute.php",
                    "line": 19,
                    "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
                    "controller_line": 14
                },
                "x-laravel-middleware": [
                    "client"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "clientToken": []
                    }
                ],
                "x-original-tags": [
                    "Client"
                ]
            }
        },
        "/api/v1/client/app/getVersion": {
            "get": {
                "tags": [
                    "客户端配置"
                ],
                "summary": "获取客户端版本",
                "description": "用途：获取客户端版本。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Client_App_getVersion_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getVersion",
                "x-source": {
                    "file": "app/Http/Routes/V1/ClientRoute.php",
                    "line": 20,
                    "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
                    "controller_line": 62
                },
                "x-laravel-middleware": [
                    "client"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "clientToken": []
                    }
                ],
                "x-original-tags": [
                    "Client"
                ]
            }
        },
        "/api/v1/client/subscribe": {
            "get": {
                "tags": [
                    "客户端配置"
                ],
                "summary": "获取客户端订阅配置",
                "description": "用途：获取客户端订阅配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Client_Client_subscribe_get",
                "parameters": [
                    {
                        "name": "types",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "客户端订阅配置，格式由 User-Agent/客户端类型决定",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Client\\ClientController::subscribe",
                "x-source": {
                    "file": "app/Http/Routes/V1/ClientRoute.php",
                    "line": 17,
                    "controller_file": "app/Http/Controllers/V1/Client/ClientController.php",
                    "controller_line": 34
                },
                "x-laravel-middleware": [
                    "client"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "clientToken": []
                    }
                ],
                "x-original-tags": [
                    "Client"
                ]
            }
        },
        "/api/v1/guest/comm/config": {
            "get": {
                "tags": [
                    "公共接口 - 公共配置"
                ],
                "summary": "获取配置",
                "description": "用途：获取配置。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Guest_Comm_config_get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Guest\\CommController::config",
                "x-source": {
                    "file": "app/Http/Routes/V1/GuestRoute.php",
                    "line": 24,
                    "controller_file": "app/Http/Controllers/V1/Guest/CommController.php",
                    "controller_line": 13
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "x-original-tags": [
                    "Guest / comm"
                ]
            }
        },
        "/api/v1/guest/payment/notify/{method}/{uuid}": {
            "get": {
                "tags": [
                    "公共接口 - 支付"
                ],
                "summary": "接收支付结果回调",
                "description": "用途：接收支付结果回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Guest_Payment_notify_get",
                "parameters": [
                    {
                        "name": "method",
                        "in": "path",
                        "required": true,
                        "description": "路径参数 method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "路径参数 uuid",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PaymentController::notify",
                "x-source": {
                    "file": "app/Http/Routes/V1/GuestRoute.php",
                    "line": 22,
                    "controller_file": "app/Http/Controllers/V1/Guest/PaymentController.php",
                    "controller_line": 15
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "x-original-tags": [
                    "Guest / payment"
                ]
            },
            "post": {
                "tags": [
                    "公共接口 - 支付"
                ],
                "summary": "接收支付结果回调",
                "description": "用途：接收支付结果回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Guest_Payment_notify_post",
                "parameters": [
                    {
                        "name": "method",
                        "in": "path",
                        "required": true,
                        "description": "路径参数 method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "路径参数 uuid",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PaymentController::notify",
                "x-source": {
                    "file": "app/Http/Routes/V1/GuestRoute.php",
                    "line": 22,
                    "controller_file": "app/Http/Controllers/V1/Guest/PaymentController.php",
                    "controller_line": 15
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "x-original-tags": [
                    "Guest / payment"
                ]
            }
        },
        "/api/v1/guest/plan/fetch": {
            "get": {
                "tags": [
                    "公共接口 - 订阅套餐"
                ],
                "summary": "获取列表",
                "description": "用途：获取列表。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Guest_Plan_fetch_get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Plan"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PlanController::fetch",
                "x-source": {
                    "file": "app/Http/Routes/V1/GuestRoute.php",
                    "line": 18,
                    "controller_file": "app/Http/Controllers/V1/Guest/PlanController.php",
                    "controller_line": 20
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "x-original-tags": [
                    "Guest / plan"
                ]
            }
        },
        "/api/v1/guest/telegram/webhook": {
            "post": {
                "tags": [
                    "公共接口 - Telegram"
                ],
                "summary": "接收 Telegram Webhook 回调",
                "description": "用途：接收 Telegram Webhook 回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Guest_Telegram_webhook_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Guest\\TelegramController::webhook",
                "x-source": {
                    "file": "app/Http/Routes/V1/GuestRoute.php",
                    "line": 20,
                    "controller_file": "app/Http/Controllers/V1/Guest/TelegramController.php",
                    "controller_line": 25
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "access_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Guest / telegram"
                ]
            }
        },
        "/api/v1/passport/auth/forget": {
            "post": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "忘记密码处理",
                "description": "用途：忘记密码处理。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_forget_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::forget",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 19,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 161
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Laravel 参数校验规则： required|email:strict"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "Laravel 参数校验规则： required|min:8"
                                    },
                                    "email_code": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|digits:6"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password",
                                    "email_code"
                                ]
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/auth/getQuickLoginUrl": {
            "post": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "获取快速登录链接",
                "description": "用途：获取快速登录链接。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_getQuickLoginUrl_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::getQuickLoginUrl",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 20,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 136
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "auth_data": {
                                        "type": "string"
                                    },
                                    "redirect": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/auth/login": {
            "post": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "用户登录",
                "description": "用途：用户登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_login_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::login",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 17,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 72
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Laravel 参数校验规则： required|email:strict"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "Laravel 参数校验规则： required|min:8"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/auth/loginWithMailLink": {
            "post": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "通过邮件链接登录",
                "description": "用途：通过邮件链接登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_loginWithMailLink_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::loginWithMailLink",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 21,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 35
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Laravel 参数校验规则： required|email:strict"
                                    },
                                    "redirect": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable"
                                    }
                                },
                                "required": [
                                    "email"
                                ]
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/auth/register": {
            "post": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "用户注册",
                "description": "用途：用户注册。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_register_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::register",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 16,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 57
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Laravel 参数校验规则： required|email:strict"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "Laravel 参数校验规则： required|min:8"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/auth/token2Login": {
            "get": {
                "tags": [
                    "账号认证 - 账号认证"
                ],
                "summary": "通过token登录",
                "description": "用途：通过token登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Auth_token2Login_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "redirect",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "verify",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "302": {
                        "description": "重定向",
                        "headers": {
                            "Location": {
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        }
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::token2Login",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 18,
                    "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
                    "controller_line": 90
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "x-original-tags": [
                    "Passport / auth"
                ]
            }
        },
        "/api/v1/passport/comm/pv": {
            "post": {
                "tags": [
                    "账号认证 - 公共配置"
                ],
                "summary": "上报页面访问数据",
                "description": "用途：上报页面访问数据。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Comm_pv_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\CommController::pv",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 24,
                    "controller_file": "app/Http/Controllers/V1/Passport/CommController.php",
                    "controller_line": 65
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "invite_code": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / comm"
                ]
            }
        },
        "/api/v1/passport/comm/sendEmailVerify": {
            "post": {
                "tags": [
                    "账号认证 - 公共配置"
                ],
                "summary": "发送邮箱验证码",
                "description": "用途：发送邮箱验证码。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Passport_Comm_sendEmailVerify_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Passport\\CommController::sendEmailVerify",
                "x-source": {
                    "file": "app/Http/Routes/V1/PassportRoute.php",
                    "line": 23,
                    "controller_file": "app/Http/Controllers/V1/Passport/CommController.php",
                    "controller_line": 19
                },
                "x-laravel-middleware": [],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Laravel 参数校验规则： required|email:strict"
                                    }
                                },
                                "required": [
                                    "email"
                                ]
                            }
                        }
                    }
                },
                "x-original-tags": [
                    "Passport / comm"
                ]
            }
        },
        "/api/v1/server/ShadowsocksTidalab/submit": {
            "post": {
                "tags": [
                    "节点通信 - Shadowsocks Tidalab 节点"
                ],
                "summary": "提交节点统计数据",
                "description": "用途：提交节点统计数据。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_ShadowsocksTidalab_submit_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\ShadowsocksTidalabController::submit",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 33,
                    "controller_file": "app/Http/Controllers/V1/Server/ShadowsocksTidalabController.php",
                    "controller_line": 46
                },
                "x-laravel-middleware": [
                    "server:shadowsocks"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|string"
                                    },
                                    "node_id": {
                                        "type": "integer",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "node_type": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable|string"
                                    }
                                },
                                "required": [
                                    "token",
                                    "node_id"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / ShadowsocksTidalab"
                ]
            }
        },
        "/api/v1/server/ShadowsocksTidalab/user": {
            "get": {
                "tags": [
                    "节点通信 - Shadowsocks Tidalab 节点"
                ],
                "summary": "获取节点用户列表",
                "description": "用途：获取节点用户列表。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_ShadowsocksTidalab_user_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\ShadowsocksTidalabController::user",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 32,
                    "controller_file": "app/Http/Controllers/V1/Server/ShadowsocksTidalabController.php",
                    "controller_line": 21
                },
                "x-laravel-middleware": [
                    "server:shadowsocks"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / ShadowsocksTidalab"
                ]
            }
        },
        "/api/v1/server/TrojanTidalab/config": {
            "get": {
                "tags": [
                    "节点通信 - Trojan Tidalab 节点"
                ],
                "summary": "获取配置",
                "description": "用途：获取配置。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_TrojanTidalab_config_get",
                "parameters": [
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "local_port",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\TrojanTidalabController::config",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 39,
                    "controller_file": "app/Http/Controllers/V1/Server/TrojanTidalabController.php",
                    "controller_line": 74
                },
                "x-laravel-middleware": [
                    "server:trojan"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / TrojanTidalab"
                ]
            }
        },
        "/api/v1/server/TrojanTidalab/submit": {
            "post": {
                "tags": [
                    "节点通信 - Trojan Tidalab 节点"
                ],
                "summary": "提交节点统计数据",
                "description": "用途：提交节点统计数据。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_TrojanTidalab_submit_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\TrojanTidalabController::submit",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 41,
                    "controller_file": "app/Http/Controllers/V1/Server/TrojanTidalabController.php",
                    "controller_line": 51
                },
                "x-laravel-middleware": [
                    "server:trojan"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|string"
                                    },
                                    "node_id": {
                                        "type": "integer",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "node_type": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable|string"
                                    }
                                },
                                "required": [
                                    "token",
                                    "node_id"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / TrojanTidalab"
                ]
            }
        },
        "/api/v1/server/TrojanTidalab/user": {
            "get": {
                "tags": [
                    "节点通信 - Trojan Tidalab 节点"
                ],
                "summary": "获取节点用户列表",
                "description": "用途：获取节点用户列表。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_TrojanTidalab_user_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\TrojanTidalabController::user",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 40,
                    "controller_file": "app/Http/Controllers/V1/Server/TrojanTidalabController.php",
                    "controller_line": 23
                },
                "x-laravel-middleware": [
                    "server:trojan"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / TrojanTidalab"
                ]
            }
        },
        "/api/v1/server/UniProxy/alive": {
            "post": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "上报在线用户数据",
                "description": "用途：上报在线用户数据。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_alive_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::alive",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 24,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 83
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|string"
                                    },
                                    "node_id": {
                                        "type": "integer",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "node_type": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable|string"
                                    }
                                },
                                "required": [
                                    "token",
                                    "node_id"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/server/UniProxy/alivelist": {
            "get": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "获取在线用户列表",
                "description": "用途：获取在线用户列表。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_alivelist_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::alivelist",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 25,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 72
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/server/UniProxy/config": {
            "get": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "获取配置",
                "description": "用途：获取配置。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_config_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::config",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 21,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 55
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/server/UniProxy/push": {
            "post": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "上报节点流量数据",
                "description": "用途：上报节点流量数据。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_push_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::push",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 23,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 41
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|string"
                                    },
                                    "node_id": {
                                        "type": "integer",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "node_type": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable|string"
                                    }
                                },
                                "required": [
                                    "token",
                                    "node_id"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/server/UniProxy/status": {
            "post": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "上报机器运行状态",
                "description": "用途：上报机器运行状态。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_status_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::status",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 26,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 96
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cpu": {
                                        "type": "number",
                                        "minimum": 0,
                                        "maximum": 100,
                                        "description": "Laravel 参数校验规则： required|numeric|min:0|max:100"
                                    },
                                    "mem": {
                                        "type": "object",
                                        "properties": {
                                            "total": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            },
                                            "used": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            }
                                        }
                                    },
                                    "swap": {
                                        "type": "object",
                                        "properties": {
                                            "total": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            },
                                            "used": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            }
                                        }
                                    },
                                    "disk": {
                                        "type": "object",
                                        "properties": {
                                            "total": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            },
                                            "used": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Laravel 参数校验规则： required|integer|min:0"
                                            }
                                        }
                                    },
                                    "token": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required|string"
                                    },
                                    "node_id": {
                                        "type": "integer",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "node_type": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Laravel 参数校验规则： nullable|string"
                                    }
                                },
                                "required": [
                                    "cpu",
                                    "mem",
                                    "swap",
                                    "disk",
                                    "token",
                                    "node_id"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/server/UniProxy/user": {
            "get": {
                "tags": [
                    "节点通信 - UniProxy 节点"
                ],
                "summary": "获取节点用户列表",
                "description": "用途：获取节点用户列表。需要有效的节点或机器通信 Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_Server_UniProxy_user_get",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Laravel 参数校验规则： required|string"
                        }
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "Laravel 参数校验规则： required"
                        }
                    },
                    {
                        "name": "node_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true,
                            "description": "Laravel 参数校验规则： nullable|string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\Server\\UniProxyController::user",
                "x-source": {
                    "file": "app/Http/Routes/V1/ServerRoute.php",
                    "line": 22,
                    "controller_file": "app/Http/Controllers/V1/Server/UniProxyController.php",
                    "controller_line": 24
                },
                "x-laravel-middleware": [
                    "server"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "serverToken": []
                    }
                ],
                "x-auth-note": "token 由 Laravel input() 读取，可位于 query 或 JSON body；V2 还支持 machine_id + token。",
                "x-original-tags": [
                    "Server / UniProxy"
                ]
            }
        },
        "/api/v1/user/changePassword": {
            "post": {
                "tags": [
                    "用户中心 - 密码修改"
                ],
                "summary": "修改登录密码",
                "description": "用途：修改登录密码。需要用户 Bearer Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_User_User_changePassword_post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\User\\UserController::changePassword",
                "x-source": {
                    "file": "app/Http/Routes/V1/UserRoute.php",
                    "line": 30,
                    "controller_file": "app/Http/Controllers/V1/User/UserController.php",
                    "controller_line": 58
                },
                "x-laravel-middleware": [
                    "user"
                ],
                "x-inference-confidence": "medium",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "old_password": {
                                        "type": "string",
                                        "description": "Laravel 参数校验规则： required"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "Laravel 参数校验规则： required|min:8"
                                    }
                                },
                                "required": [
                                    "old_password",
                                    "new_password"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-original-tags": [
                    "User / changePassword"
                ]
            }
        },
        "/api/v1/user/checkLogin": {
            "get": {
                "tags": [
                    "用户中心 - 登录检查"
                ],
                "summary": "检查用户登录状态",
                "description": "用途：检查用户登录状态。需要用户 Bearer Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_User_User_checkLogin_get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "x-controller": "App\\Http\\Controllers\\V1\\User\\UserController::checkLogin",
                "x-source": {
                    "file": "app/Http/Routes/V1/UserRoute.php",
                    "line": 34,
                    "controller_file": "app/Http/Controllers/V1/User/UserController.php",
                    "controller_line": 47
                },
                "x-laravel-middleware": [
                    "user"
                ],
                "x-inference-confidence": "medium",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-original-tags": [
                    "User / checkLogin"
                ]
            }
        },
        "/api/v1/user/comm/config": {
            "get": {
                "tags": [
                    "用户中心 - 公共配置"
                ],
                "summary": "获取配置",
                "description": "用途：获取配置。需要用户 Bearer Token。请求参数和响应结构以本操作下方定义为准。",
                "operationId": "v1_V1_User_Comm_config_get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功响应；data 的精确结构按运行时配置、插件和控制器分支而定",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {}
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "403": {
[...]
