{
  "openapi": "3.0.3",
  "info": {
    "title": "Xboard API 中文接口文档",
    "version": "2026-09-08",
    "description": "当前 Xboard 核心 API 契约。路径及方法与 Laravel 实际路由集合核对；请求按 FormRequest、控制器、中间件和 Service 核对；响应按 Resource、Model、Migration 及隔离环境、当前配置测试环境的真实 HTTP 样本核对。响应 example 为合成值；核对使用的真实响应已脱敏。已注明空体、原始文本、文件、失效路由及现有运行问题。动态插件 Hook 和外部渠道以实际部署为准。",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://scalar.verlix.biz",
      "description": "测试环境"
    }
  ],
  "paths": {
    "/api/v1/client/app/getConfig": {
      "get": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端配置",
        "description": "用途：获取客户端配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_App_getConfig_get",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "返回 YAML 字符串；源码未设置 Content-Type，Laravel 默认 text/html。",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "example": "proxies: []\nproxy-groups: []\n"
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "403": {
            "description": "鉴权或访问权限不足",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getConfig",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 19,
          "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
          "controller_line": 14
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/AppController.php:14"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 3,
          "statuses": [
            200,
            403
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端配置",
        "description": "用途：获取客户端配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_App_getConfig_get_head",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "返回 YAML 字符串；源码未设置 Content-Type，Laravel 默认 text/html。（HEAD 不返回响应体）"
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          },
          "403": {
            "description": "鉴权或访问权限不足（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getConfig",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 19,
          "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
          "controller_line": 14
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/AppController.php:14"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            403
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/client/app/getVersion": {
      "get": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端版本",
        "description": "用途：获取客户端版本。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_App_getVersion_get",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "version": {
                              "type": "string",
                              "nullable": true
                            },
                            "download_url": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "windows_version": {
                              "type": "string",
                              "nullable": true
                            },
                            "windows_download_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "macos_version": {
                              "type": "string",
                              "nullable": true
                            },
                            "macos_download_url": {
                              "type": "string",
                              "nullable": true
                            },
                            "android_version": {
                              "type": "string",
                              "nullable": true
                            },
                            "android_download_url": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      ]
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": {
                    "version": "example",
                    "download_url": "https://example.com/example"
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "403": {
            "description": "鉴权或访问权限不足",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getVersion",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 20,
          "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
          "controller_line": 62
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/AppController.php:62"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 3,
          "statuses": [
            200,
            403
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端版本",
        "description": "用途：获取客户端版本。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_App_getVersion_get_head",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）（HEAD 不返回响应体）"
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          },
          "403": {
            "description": "鉴权或访问权限不足（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\AppController::getVersion",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 20,
          "controller_file": "app/Http/Controllers/V1/Client/AppController.php",
          "controller_line": 62
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/AppController.php:62"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            403
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/client/subscribe": {
      "get": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端订阅配置",
        "description": "用途：获取客户端订阅配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_Client_subscribe_get",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "flag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "按 User-Agent / flag 选择订阅格式：Base64 文本、YAML、JSON 或客户端配置文本；无统一 data 包装。",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "c3M6Ly9leGFtcGxl\n"
              },
              "text/yaml": {
                "schema": {
                  "type": "string"
                },
                "example": "proxies: []\nproxy-groups: []\n"
              },
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ShadowsocksSubscription"
                    },
                    {
                      "$ref": "#/components/schemas/SingBoxSubscription"
                    }
                  ]
                },
                "example": {
                  "version": 1,
                  "bytes_used": 1,
                  "bytes_remaining": 1,
                  "servers": [
                    {
                      "id": 1,
                      "remarks": "example",
                      "server": "example",
                      "server_port": 1,
                      "password": "EXAMPLE_ONLY",
                      "method": "example"
                    }
                  ]
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "[General]\n"
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "example": "[General]\n"
              }
            },
            "headers": {
              "subscription-userinfo": {
                "schema": {
                  "type": "string"
                },
                "description": "upload/download/total 为字节，expire 为 Unix 秒。"
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "部分客户端格式返回下载文件名。"
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "403": {
            "description": "鉴权或访问权限不足",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "maxLength": 0
                },
                "example": ""
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\ClientController::subscribe",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 17,
          "controller_file": "app/Http/Controllers/V1/Client/ClientController.php",
          "controller_line": 34
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/ClientController.php:110",
            "app/Http/Controllers/V1/Client/ClientController.php:125",
            "app/Http/Controllers/V1/Client/ClientController.php:148",
            "app/Http/Controllers/V1/Client/ClientController.php:193",
            "app/Http/Controllers/V1/Client/ClientController.php:223",
            "app/Http/Controllers/V1/Client/ClientController.php:236",
            "app/Http/Controllers/V1/Client/ClientController.php:34",
            "app/Http/Controllers/V1/Client/ClientController.php:54",
            "app/Http/Controllers/V1/Client/ClientController.php:93"
          ],
          "rules": {
            "types": [
              "nullable",
              "string"
            ],
            "filter": [
              "nullable",
              "string"
            ],
            "flag": [
              "nullable",
              "string"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 6,
          "statuses": [
            200,
            403,
            500
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        },
        "x-known-runtime-behavior": [
          "Clash 模板必须包含 proxies 和 proxy-groups 等预期结构；缺少 proxies 时当前实现直接访问该键并返回 500。配置测试库已复现此分支，普通文本与 Sing-box 分支正常。"
        ]
      },
      "head": {
        "tags": [
          "客户端配置"
        ],
        "summary": "获取客户端订阅配置",
        "description": "用途：获取客户端订阅配置。需要有效的用户订阅 Token。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Client_Client_subscribe_get_head",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "flag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-laravel-rules": [
                "nullable",
                "string"
              ],
              "description": "Laravel 校验规则：nullable；string",
              "nullable": true
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "按 User-Agent / flag 选择订阅格式：Base64 文本、YAML、JSON 或客户端配置文本；无统一 data 包装。（HEAD 不返回响应体）",
            "headers": {
              "subscription-userinfo": {
                "schema": {
                  "type": "string"
                },
                "description": "upload/download/total 为字节，expire 为 Unix 秒。"
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "部分客户端格式返回下载文件名。"
              }
            }
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          },
          "403": {
            "description": "鉴权或访问权限不足（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Client\\ClientController::subscribe",
        "x-source": {
          "file": "app/Http/Routes/V1/ClientRoute.php",
          "line": 17,
          "controller_file": "app/Http/Controllers/V1/Client/ClientController.php",
          "controller_line": 34
        },
        "x-laravel-middleware": [
          "client"
        ],
        "security": [
          {
            "clientToken": []
          }
        ],
        "x-original-tags": [
          "Client"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Client/ClientController.php:110",
            "app/Http/Controllers/V1/Client/ClientController.php:125",
            "app/Http/Controllers/V1/Client/ClientController.php:148",
            "app/Http/Controllers/V1/Client/ClientController.php:193",
            "app/Http/Controllers/V1/Client/ClientController.php:223",
            "app/Http/Controllers/V1/Client/ClientController.php:236",
            "app/Http/Controllers/V1/Client/ClientController.php:34",
            "app/Http/Controllers/V1/Client/ClientController.php:54",
            "app/Http/Controllers/V1/Client/ClientController.php:93"
          ],
          "rules": {
            "types": [
              "nullable",
              "string"
            ],
            "filter": [
              "nullable",
              "string"
            ],
            "flag": [
              "nullable",
              "string"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            403
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        },
        "x-known-runtime-behavior": [
          "Clash 模板必须包含 proxies 和 proxy-groups 等预期结构；缺少 proxies 时当前实现直接访问该键并返回 500。配置测试库已复现此分支，普通文本与 Sing-box 分支正常。"
        ]
      }
    },
    "/api/v1/guest/comm/config": {
      "get": {
        "tags": [
          "公共接口 - 公共配置"
        ],
        "summary": "获取配置",
        "description": "用途：获取配置。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。 核心响应字段如下；已启用插件 Hook 可修改返回数据。",
        "operationId": "v1_V1_Guest_Comm_config_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GuestConfig"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": {
                    "tos_url": "https://example.com/example",
                    "is_email_verify": 1,
                    "is_invite_force": 1,
                    "email_whitelist_suffix": 0,
                    "is_captcha": 1,
                    "captcha_type": "example",
                    "recaptcha_site_key": "example",
                    "recaptcha_v3_site_key": "example",
                    "recaptcha_v3_score_threshold": 1.5,
                    "turnstile_site_key": "example",
                    "app_description": "example",
                    "app_url": "https://example.com/example",
                    "logo": "example",
                    "is_recaptcha": 1
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\CommController::config",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 24,
          "controller_file": "app/Http/Controllers/V1/Guest/CommController.php",
          "controller_line": 13
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / comm"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/CommController.php:13"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            200
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "公共接口 - 公共配置"
        ],
        "summary": "获取配置",
        "description": "用途：获取配置。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。 核心响应字段如下；已启用插件 Hook 可修改返回数据。",
        "operationId": "v1_V1_Guest_Comm_config_get_head",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）（HEAD 不返回响应体）"
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\CommController::config",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 24,
          "controller_file": "app/Http/Controllers/V1/Guest/CommController.php",
          "controller_line": 13
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / comm"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/CommController.php:13"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            200
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/guest/payment/notify/{method}/{uuid}": {
      "get": {
        "tags": [
          "公共接口 - 支付"
        ],
        "summary": "接收支付结果回调",
        "description": "用途：接收支付结果回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Payment_notify_get",
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "description": "路径参数 method",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "路径参数 uuid",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "默认文本 success；支付插件可覆盖通知响应。",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "example": "success"
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Failure"
                    }
                  ]
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PaymentController::notify",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 22,
          "controller_file": "app/Http/Controllers/V1/Guest/PaymentController.php",
          "controller_line": 15
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / payment"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/PaymentController.php:15",
            "app/Http/Controllers/V1/Guest/PaymentController.php:36"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            500
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "post": {
        "tags": [
          "公共接口 - 支付"
        ],
        "summary": "接收支付结果回调",
        "description": "用途：接收支付结果回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Payment_notify_post",
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "description": "路径参数 method",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "路径参数 uuid",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "默认文本 success；支付插件可覆盖通知响应。",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "example": "success"
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Failure"
                    }
                  ]
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PaymentController::notify",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 22,
          "controller_file": "app/Http/Controllers/V1/Guest/PaymentController.php",
          "controller_line": 15
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / payment"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/PaymentController.php:15",
            "app/Http/Controllers/V1/Guest/PaymentController.php:36"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            500
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "公共接口 - 支付"
        ],
        "summary": "接收支付结果回调",
        "description": "用途：接收支付结果回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Payment_notify_get_head",
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "description": "路径参数 method",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "路径参数 uuid",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "默认文本 success；支付插件可覆盖通知响应。（HEAD 不返回响应体）"
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PaymentController::notify",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 22,
          "controller_file": "app/Http/Controllers/V1/Guest/PaymentController.php",
          "controller_line": 15
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / payment"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/PaymentController.php:15",
            "app/Http/Controllers/V1/Guest/PaymentController.php:36"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            500
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/guest/plan/fetch": {
      "get": {
        "tags": [
          "公共接口 - 订阅套餐"
        ],
        "summary": "获取列表",
        "description": "用途：获取列表。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Plan_fetch_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": [
                    {
                      "id": 1,
                      "group_id": 1,
                      "name": "example",
                      "tags": [
                        "example"
                      ],
                      "content": "example",
                      "capacity_limit": 1,
                      "transfer_enable": 1,
                      "speed_limit": 1,
                      "device_limit": 1,
                      "show": true,
                      "sell": true,
                      "renew": true,
                      "reset_traffic_method": 1,
                      "sort": 1,
                      "created_at": 1788825600,
                      "updated_at": 1788825600,
                      "month_price": 1.5,
                      "quarter_price": 1.5,
                      "half_year_price": 1.5,
                      "year_price": 1.5,
                      "two_year_price": 1.5,
                      "three_year_price": 1.5,
                      "onetime_price": 1.5,
                      "reset_price": 1.5
                    }
                  ],
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PlanController::fetch",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 18,
          "controller_file": "app/Http/Controllers/V1/Guest/PlanController.php",
          "controller_line": 20
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / plan"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/PlanController.php:20"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            200
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "公共接口 - 订阅套餐"
        ],
        "summary": "获取列表",
        "description": "用途：获取列表。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Plan_fetch_get_head",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）（HEAD 不返回响应体）"
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\PlanController::fetch",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 18,
          "controller_file": "app/Http/Controllers/V1/Guest/PlanController.php",
          "controller_line": 20
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Guest / plan"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/PlanController.php:20"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            200
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/guest/telegram/webhook": {
      "post": {
        "tags": [
          "公共接口 - Telegram"
        ],
        "summary": "接收 Telegram Webhook 回调",
        "description": "用途：接收 Telegram Webhook 回调。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Guest_Telegram_webhook_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "控制器返回 void；HTTP 200 空响应体。"
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "401": {
            "description": "access_token 与配置 Token 的 MD5 不匹配",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Guest\\TelegramController::webhook",
        "x-source": {
          "file": "app/Http/Routes/V1/GuestRoute.php",
          "line": 20,
          "controller_file": "app/Http/Controllers/V1/Guest/TelegramController.php",
          "controller_line": 25
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-original-tags": [
          "Guest / telegram"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Guest/TelegramController.php:100",
            "app/Http/Controllers/V1/Guest/TelegramController.php:25",
            "app/Http/Controllers/V1/Guest/TelegramController.php:39",
            "app/Http/Controllers/V1/Guest/TelegramController.php:58",
            "app/Http/Controllers/V1/Guest/TelegramController.php:70",
            "app/Http/Controllers/V1/Guest/TelegramController.php:76"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            401
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/forget": {
      "post": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "忘记密码处理",
        "description": "用途：忘记密码处理。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_forget_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": true,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::forget",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 19,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 161
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|email:strict"
                    ],
                    "description": "Laravel 校验规则：required|email:strict",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|min:8"
                    ],
                    "description": "Laravel 校验规则：required|min:8",
                    "minLength": 8
                  },
                  "email_code": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|digits:6"
                    ],
                    "description": "Laravel 校验规则：required|digits:6"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "email_code"
                ]
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:161",
            "app/Http/Requests/Passport/AuthForget.php"
          ],
          "rules": {
            "email": [
              "required|email:strict"
            ],
            "password": [
              "required|min:8"
            ],
            "email_code": [
              "required|digits:6"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            422
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/getQuickLoginUrl": {
      "post": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "获取快速登录链接",
        "description": "用途：获取快速登录链接。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_getQuickLoginUrl_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": "example",
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "401": {
            "description": "未提供或无效的凭证；当前 message 为 ResponseEnum 数组。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                },
                "example": {
                  "message": [
                    1,
                    1
                  ]
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::getQuickLoginUrl",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 20,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 136
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auth_data": {
                    "type": "string"
                  },
                  "redirect": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:136"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            401
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/login": {
      "post": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "用户登录",
        "description": "用途：用户登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_login_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthData"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": {
                    "token": "EXAMPLE_ONLY",
                    "auth_data": "Bearer EXAMPLE_ONLY",
                    "is_admin": true
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::login",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 17,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 72
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|email:strict"
                    ],
                    "description": "Laravel 校验规则：required|email:strict",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|min:8"
                    ],
                    "description": "Laravel 校验规则：required|min:8",
                    "minLength": 8
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:72",
            "app/Http/Requests/Passport/AuthLogin.php"
          ],
          "rules": {
            "email": [
              "required|email:strict"
            ],
            "password": [
              "required|min:8"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            422
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/loginWithMailLink": {
      "post": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "通过邮件链接登录",
        "description": "用途：通过邮件链接登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_loginWithMailLink_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": true,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "404": {
            "description": "邮件登录未启用或发送过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "429": {
            "description": "邮件登录未启用或发送过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::loginWithMailLink",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 21,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 35
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|email:strict"
                    ],
                    "description": "Laravel 校验规则：required|email:strict",
                    "format": "email"
                  },
                  "redirect": {
                    "type": "string",
                    "x-laravel-rules": [
                      "nullable"
                    ],
                    "description": "Laravel 校验规则：nullable",
                    "nullable": true
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:35"
          ],
          "rules": {
            "email": [
              "required|email:strict"
            ],
            "redirect": [
              "nullable"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            422
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/register": {
      "post": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "用户注册",
        "description": "用途：用户注册。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_register_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthData"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": {
                    "token": "EXAMPLE_ONLY",
                    "auth_data": "Bearer EXAMPLE_ONLY",
                    "is_admin": true
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Failure"
                    }
                  ]
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "429": {
            "description": "注册频率超过站点限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failure"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::register",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 16,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 57
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|email:strict"
                    ],
                    "description": "Laravel 校验规则：required|email:strict",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|min:8"
                    ],
                    "description": "Laravel 校验规则：required|min:8",
                    "minLength": 8
                  },
                  "email_code": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "description": "启用邮箱验证时必需，六位验证码。"
                  },
                  "invite_code": {
                    "type": "string",
                    "description": "站点开启 invite_force 时必需。"
                  },
                  "recaptcha_data": {
                    "type": "string",
                    "description": "启用相应验证码服务时必需；CaptchaService 根据站点 captcha_type 检查。"
                  },
                  "recaptcha_v3_token": {
                    "type": "string",
                    "description": "启用相应验证码服务时必需；CaptchaService 根据站点 captcha_type 检查。"
                  },
                  "turnstile_token": {
                    "type": "string",
                    "description": "启用相应验证码服务时必需；CaptchaService 根据站点 captcha_type 检查。"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:57",
            "app/Http/Requests/Passport/AuthRegister.php",
            "app/Services/Auth/RegisterService.php:111",
            "app/Services/Auth/RegisterService.php:140",
            "app/Services/Auth/RegisterService.php:26",
            "app/Services/CaptchaService.php:17",
            "app/Services/CaptchaService.php:39",
            "app/Services/CaptchaService.php:66",
            "app/Services/CaptchaService.php:96"
          ],
          "rules": {
            "email": [
              "required|email:strict"
            ],
            "password": [
              "required|min:8"
            ]
          }
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            422
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/auth/token2Login": {
      "get": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "通过token登录",
        "description": "用途：通过token登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_token2Login_get",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verify",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "token": "EXAMPLE_ONLY",
                    "auth_data": "Bearer EXAMPLE_ONLY",
                    "is_admin": true
                  }
                }
              }
            }
          },
          "302": {
            "description": "传入 token 时重定向至登录页面",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::token2Login",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 18,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 90
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:90"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            400
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      },
      "head": {
        "tags": [
          "账号认证 - 账号认证"
        ],
        "summary": "通过token登录",
        "description": "用途：通过token登录。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Auth_token2Login_get_head",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verify",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）（HEAD 不返回响应体）"
          },
          "302": {
            "description": "传入 token 时重定向至登录页面（HEAD 不返回响应体）",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误（HEAD 不返回响应体）"
          },
          "422": {
            "description": "参数校验失败（HEAD 不返回响应体）"
          },
          "500": {
            "description": "服务端错误（HEAD 不返回响应体）"
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\AuthController::token2Login",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 18,
          "controller_file": "app/Http/Controllers/V1/Passport/AuthController.php",
          "controller_line": 90
        },
        "x-laravel-middleware": [],
        "x-original-tags": [
          "Passport / auth"
        ],
        "x-response-analysis": "source-reviewed",
        "x-laravel-implicit-head": true,
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/AuthController.php:90"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            400
          ],
          "success_body_sampled": false,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/comm/pv": {
      "post": {
        "tags": [
          "账号认证 - 公共配置"
        ],
        "summary": "上报页面访问数据",
        "description": "用途：上报页面访问数据。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Comm_pv_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": true,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\CommController::pv",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 24,
          "controller_file": "app/Http/Controllers/V1/Passport/CommController.php",
          "controller_line": 65
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invite_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-original-tags": [
          "Passport / comm"
        ],
        "x-response-analysis": "source-reviewed",
        "x-request-analysis": {
          "method": "runtime-formrequest-and-source-ast",
          "sources": [
            "app/Http/Controllers/V1/Passport/CommController.php:65"
          ],
          "rules": {}
        },
        "x-runtime-verification": {
          "samples": 2,
          "statuses": [
            200
          ],
          "success_body_sampled": true,
          "environments": [
            "configured-test",
            "isolated-fixtures"
          ]
        }
      }
    },
    "/api/v1/passport/comm/sendEmailVerify": {
      "post": {
        "tags": [
          "账号认证 - 公共配置"
        ],
        "summary": "发送邮箱验证码",
        "description": "用途：发送邮箱验证码。无需登录，或由接口内部业务规则进行验证。请求参数和响应结构以本操作下方定义为准。",
        "operationId": "v1_V1_Passport_Comm_sendEmailVerify_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功响应（按当前源码静态核对；示例为合成数据）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data",
                    "error"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "操作成功",
                  "data": true,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "业务或参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          },
          "422": {
            "description": "参数校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "请求失败（示例）",
                  "errors": {
                    "example": [
                      "example"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "fail",
                  "message": "请求失败（示例）",
                  "data": null,
                  "error": "example"
                }
              }
            }
          }
        },
        "x-controller": "App\\Http\\Controllers\\V1\\Passport\\CommController::sendEmailVerify",
        "x-source": {
          "file": "app/Http/Routes/V1/PassportRoute.php",
          "line": 23,
          "controller_file": "app/Http/Controllers/V1/Passport/CommController.php",
          "controller_line": 19
        },
        "x-laravel-middleware": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "x-laravel-rules": [
                      "required|email:strict"
                    ],
                    "description": "Laravel 校验规则：required|email:strict",
                    "format": "email"
                  },
                  "recaptcha_data": {
                    "type": "string",
                    "description": "启用相应验证码服务时必需；CaptchaService 根据站点 captcha_type 检查。"
                  },
                  "recaptcha_v3_token": {
                    "type": "string",
                    "description": "启用相应验证码服务时必需；CaptchaService 根据站点 captcha_type 检查。"
                  },
                  "turnstile_token": {
                    "type": "string",
[...]
